<footer class="footer">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <strong>{{ site.title | escape }}</strong> by <a>
          {%- if site.author -%}
          {{ site.author | escape }}
        {%- else -%}
          Anonymous
        {%- endif -%}
       </a>.
       <span class="icon">
         <a href="https://github.com/datumorphism"><i class="fab fa-github"></i></a>
       </span>
       <span class="icon">
      <a href="{{ "/feed.xml" | relative_url }}"><i class="fas fa-rss"></i></a>
       </span>
       <span class="icon">
      <a href="{{ "/typography" | relative_url }}"><i class="far fa-file-alt"></i></a>
       </span>
      </p>

    </div>
  </div>
</footer>
