<!-- Hero content: will be in the middle -->
<div class="hero">
<div class="hero-body">
  <div class="container has-text-centered">
    <h1 class="title">
      {{ site.title }}
    </h1>
    <!-- <h2 class="subtitle">
      {{ site.description }}
    </h2> -->
  </div>
</div>
</div>

<!-- Hero footer: will stick at the bottom -->
<!-- <div class="hero-foot">
  <nav class="tabs">
    <div class="container">
      <ul>
        <li class="is-active"><a>Posts</a></li>
        <li><a>Modifiers</a></li>
      </ul>
    </div>
  </nav>
</div> -->
</section>
