<script src="{{ site.baseurl }}/assets/js/mixitup.min.js"></script>
<script type="text/javascript">
var containerEl = document.querySelector('#Mix-Container');
var mixer = mixitup('#Mix-Container', {
    load: {
        sort: 'date:desc'
    }
}
);
</script>

<style type="text/css">
button{
  font-family: 'Helvetica Neue', arial, sans-serif;
}

.controls{
  padding: 2%;
}

label{
  font-weight: 300;
  margin: 0 .4em 0 0;
}

button{
  display: inline-block;
  padding: .4em .8em;
  background: #666;
  border: 0;
  color: #ddd;
  font-size: 16px;
  font-weight: 300;
  border-radius: 4px;
  cursor: pointer;
}

button.active{
  background: #fff;
  border: 1px solid #666;
  color: #666;
}

button:focus{
  outline: 0 none;
}

button + label{
  margin-left: 1em;
}

.mix-btn-programming {

}
.mix-btn-programming.active {

}

.mix-btn-physics {

}
.mix-btn-math {

}
.mix-btn-astro {

}
.mix-btn-misc {

}


.mix-container{
  padding: 2% 2% 0;
  text-align: justify;
  /*font-size: 0.1px;*/


  -webkit-backface-visibility: hidden;
}

.mix-container:after{
  content: '';
  display: inline-block;
  width: 100%;
}

.mix-container .mix,
.mix-container .gap{
  display: inline-block;
  width: 49%;
}

.mix-container .mix{
  text-align: left;
  margin-bottom: 2%;
  display: inline-block;
}

.mix-container .mix.mix-programming{
  border-bottom: 2px solid limegreen;
  border-top: 2px solid limegreen;
  height: 10em;
}

.mix-container .mix.mix-physics{
  border-bottom: 2px solid #D46A6A;
  border-top: 2px solid #D46A6A;
  height: 10em;
}

.mix-container .mix.mix-math{
  border-bottom: 2px solid #518bbf;
  border-top: 2px solid #518bbf;
  height: 10em;
}

.mix-container .mix.mix-astro{
  border-bottom: 2px solid #ceb354;
  border-top: 2px solid #ceb354;
  height: 10em;
}

.mix-container .mix.mix-scifi{
  border-bottom: 2px solid #323f61;
  border-top: 2px solid #323f61;
  height: 10em;
}
.mix-container .mix.mix-misc{
  border-bottom: 2px solid #f900c3;
  border-top: 2px solid #f900c3;
  height: 10em;
}

.mix-container .mix:after{
  content: attr(data-myorder);
  color: white;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  padding: 4% 6%;
  font-weight: 700;
}

.mix-container .mix:before{
  content: '';
  display: inline-block;
  padding-top: 60%;
}

.mix {
  position: relative;
}
.mix-categories {
position: absolute;
}
.mix-title {
position: absolute;
top: 3em;
}
.mix-date {
position: absolute;
bottom: 0;
left: 0;
font-size: 60%;
}

@media all and (min-width: 420px){
  .mix-container .mix,
  .mix-container .gap{
    width: 32%;
  }
}

@media all and (min-width: 640px){
  .mix-container .mix,
  .mix-container .gap{
    width: 23.5%;
  }
}
</style>
