<nav role="navigation" aria-label="pagination" style="margin-top:5em;">
  <div class="columns is-desktop">
    <div class="column is-4">
      </div>
      <div class="column is-2 is-pulled-left">
      {% if page.previous %}
        <a href="{{ site.url }}{{ page.previous.url }}" class="is-pulled-left" title="{{ page.previous.title }}"><button class="button is-primary is-pulled-left">Previous</button> </a>
      {% endif %}
      </div>
      <div class="column is-2 is-pulled-right">
      {% if page.next %}
        <a href="{{ site.url }}{{ page.next.url }}" class="is-pulled-right" title="{{ page.next.title }}"><button class="button is-primary is-pulled-right">Next</button></a>
      {% endif %}
    </div>
    <div class="column is-4">
      </div>
      </div>
</nav><!-- /.pagination -->
