.main--content {
  padding: 2rem 3rem;
  overflow: hidden;
  position: relative;
}

.post-header {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* @media screen and (min-width: 1024px)
.navbar {
    min-height: 4.75rem !important;
} */

#query-summary {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}


mark{
    background: rgba(119,41,83,0.4)
}


/* code terminal */



.language-terminal {
  border-radius: 0.25em;
  position: relative;
  margin-bottom: 1.5em;
  padding: 1.5em 0em 0em;
  border: 1px solid #d7d8da;
  border-radius: 2;
  -webkit-box-shadow: 0 0.25em 1em rgba(57,62,70,.25);
  box-shadow: 0 0.25em 1em rgba(57,62,70,.25);
  /* background-color: $base-color; */
}
.language-terminal:before {
    content: "\2022 \2022 \2022";
    background: #cecfd1;
    color: #9c9fa3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    margin: 0;
    padding: 15px 0;
    font-size: 60px;
    line-height: 0;
    text-indent: 15px;
  }

/* code terminal END */

code {
  overflow: pre-wrap !important;
}

/* code environment */

figure {
  margin-left: auto !important;
  margin-right: auto !important;
  display: block !important;
  position: relative !important;
  overflow: hidden !important;
  padding-bottom: 1em;
}



figure figcaption {
    background: rgba(236, 233, 233, 0.75) !important;
      color: #888282 !important;
      padding: 2px 5px 0px 5px !important;
      bottom: 0em !important;
      text-align: center;
      margin-left: auto !important;
    margin-right: auto !important;
    max-width: 90%;
}

figure img {
    margin-left: auto !important;
    margin-right: auto !important;
}


pre {
  text-align: left;
}


.card-toggle:before {
  content: "\2660 \A0\A0\A0";
}

.card-header:after {
  content: "  \A0\A0\A0   \21B5  \A0\A0\A0 ";
  transform: scale(1);
  padding-top: 0.5em;
}
/* Design Notes div with different styles */

.notes--info, .notes--success, .notes--warning, .notes--error, .notes--primary {
    padding:20px;
    margin:10px 0;
}
.notes--info:before, .notes--success:before, .notes--warning:before, .notes--error:before, .notes--primary:before {
    font-family: "Font Awesome 5 Free";
    font-style:normal;
    font-weight:400;
    speak:none;
    /* display:inline-block; */
    text-decoration:inherit;
    width:1em;
    margin-right:.2em;
    text-align:center;
    font-variant:normal;
    text-transform:none;
    line-height:1em;
    margin-left:.2em;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}
.notes--info:before {
    content:"\00A7\A0\A0\A0 NOTE \A0\A0\A0";
    padding-bottom: 1em;
    opacity: 0.3;
}
.notes--success:before {
    content:'\00A7\A0\A0\A0 NOTE \A0\A0\A0';
    padding-bottom: 1em;
    opacity: 0.3;
}
.notes--warning:before {
    content:'\00A7\A0\A0\A0 NOTE \A0\A0\A0';
    padding-bottom: 1em;
    opacity: 0.3;
}
.notes--error:before {
    content:'\00A7\A0\A0\A0 NOTE \A0\A0\A0';
    padding-bottom: 1em;
    opacity: 0.3;
}
.notes--info {
    /*color: #00529B;*/
    /*background-color: #BDE5F8;*/
    border: 2px solid #772953;
}
.notes--success {
    /*color: #4F8A10;*/
    /*background-color: #DFF2BF;*/
    border: 2px solid #38b44a;
}
.notes--warning {
    /*color: #9F6000;*/
    /*background-color: #FEEFB3;*/
    border: 2px solid #efb73e;
}
.notes--error {
    /*color: #D8000C;*/
    /*background-color: #FFBABA;*/
    border: 2px solid #df382c;
}
.notes--primary {
  border: 2px solid #e95420;
}

.card {
  margin-top:1em;
  margin-bottom:1em;
}

#markdown-toc
{
   border-style: dashed;
    border-width: thin;
    border-color: #9C9C9C;
    padding: 1em 1em 1em 2em;
    white-space: nowrap;
    display: inline-block;
    float: right;
    max-width: 45%;
    word-wrap: break-word;
    overflow: auto;
    overflow-y: hidden;
    text-overflow: ellipsis;
}
#markdown-toc>ul,>ol,>dl {
    margin-bottom: 0 !important;
}

#markdown-toc::-webkit-scrollbar {
    height: 2px;
}

#markdown-toc::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 1px;
    border-radius: 1px;
}

#markdown-toc::-webkit-scrollbar-thumb {
    -webkit-border-radius: 1px;
    border-radius: 1px;
    background: rgba(170, 51, 17, 0.5);
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);*/
}

.footnotes::before {
    content: 'FOOTNOTES';
}

.footnotes {
    border-top: .2em solid transparent;
    -o-border-image: 100% 0 0 linear-gradient(90deg, currentColor 6em, transparent 0);
       border-image: 100% 0 0 linear-gradient(90deg, currentColor 6em, transparent 0);
    padding-top: 1em;
  }

/* for mermaid graph */

div.mermaid {
    text-align: center !important;
    }

.utterances {
    border-top: 2px solid black;
    margin-top: 2em;
}

.all-knowledge-cards {
  background-color : #31B0D5;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  border-color: #46b8da;
}

#all-knowledge-cards--button {
  z-index: 999;
  position: fixed;
  bottom: -4px;
  right: 10px;
}

#all-knowledge-cards--button a {
  color: white;
}

.MJXc-display {
  overflow-x: overlay !important;
  overflow-y: hidden !important;
}

::-webkit-scrollbar {
  height: 1px;  /* height of horizontal scrollbar ← You're missing this */
}