---
layout: page
title: Reading
description: Read and learn
exclude: true
---

{% comment%}
Here we generate all the tags.
{% endcomment%}

{% assign rawtags = "" %}
{% for post in site.reading %}
{% assign ttags = post.tags | join:'|' | append:'|' %}
{% assign rawtags = rawtags | append:ttags %}
{% endfor %}

{% assign rawtags = rawtags | split:'|' | sort | reverse %}

{% assign tags = "" %}

{% for tag in rawtags %}
{% if tag != "" %}

{% if tags == "" %}
{% assign tags = tag | split:'|' %}
{% endif %}

{% unless tags contains tag %}
{% assign tags = tags | join:'|' | append:'|' | append:tag | split:'|' %}
{% endunless %}
{% endif %}
{% endfor %}


<div class="posts">
<div class="box">
<div class="tags">
{% for tag in tags %}
<span class="tag">
<a href="#{{ tag | slugify }}" class="codinfox-tag-mark"> #{{ tag }} </a></span>
{% endfor %}
</div>
</div>

{% for tag in tags %}
<h2 id="{{ tag | slugify }}">{{ tag }}</h2>
<ul class="codinfox-category-list">
  {% for post in site.reading reversed %}
  {% if post.tags contains tag %}
  <article class="post-item">
      <p>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>  — <strong><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></strong>
        <span style="float: right;">
        {% if post.tags %}
        [{% for tag in post.tags %}
        <a class="codinfox-tag-mark" href="{{ site.baseurl }}/reading/#{{ tag | slugify }}">#{{ tag }}</a>
        {% endfor %}]
        {% endif %}
        </span>

        {% if post.summary %}
           <div style="margin-left:2em;">
           <span style="display:block;font-size:90%;">
      <i class="far fa-star"></i> Summary: {{ post.summary }}</span>
           </div>
           {% endif %}
           {% if post.references %}
           <div style="margin-left:2em;"><span style="display:block;font-size:90%;">
        <i class="fa fa-paperclip" aria-hidden="true"></i> References:</span>
              {% for reference in post.references %}
                 {% if reference.link %}
                    <span style="display:block;font-size:90%;padding-left:1em;"> - <a href="{{ reference.link }}">{{ reference.name }}</a></span>
                    {% else %}
                    <span style="display:block;font-size:90%;padding-left:1em;"> - {{ reference.name }}</span>
                 {% endif %}
              {% endfor %}
           </div>
        {% endif %}

        {% if post.types != null %}
         <div style="margin-left:2em;">
         <span style="display:block;font-size:90%;"><i class="far fa-folder" aria-hidden="true"></i> Types: {% for type in post.types %}
            { {{ type }} }
            {% endfor %}
         </span>
         </div>
         {% endif %}

         {% if post.tags != null %}
           <div style="margin-left:2em;">
           <span style="display:block;font-size:90%;"><i class="fa fa-hashtag" aria-hidden="true"></i> Tags: {% for tag in post.tags %}
              <a class="codinfox-tag-mark" href="{{ site.baseurl }}/reading/#{{ tag | slugify }}">#{{ tag }}</a>
              {% endfor %}
           </span>
           </div>
           {% endif %}

           {% if post.status != null %}
         <div style="margin-left:2em;">
         <span style="display:block;font-size:90%;"><i class="fas fa-tasks" aria-hidden="true"></i> Status: 
         {% if post.status == 'Done' or post.status == 'done' or post.status == 'Finished' or post.status == 'finished' or post.status == '100%%' %}
         <i class="fas fa-check has-text-success"></i>
         {% else %}
         {{ post.status }}
         {% endif %}
         </span>
         </div>
         {% endif %}


      </p>
  </article>
  {% endif %}
  {% endfor %}
</ul>
{% endfor %}

</div>
