<div class="tile is-ancestor">
    <div class="tile is-vertical is-6">
        <div class="tile">
            <div class="tile is-parent is-vertical">
                <article class="tile is-child box">
                    <a href="tools/"><p class="title">Tools</p></a>
                    <p class="subtitle">Collections of tools to help myself finding the best hammer.</p>
                    <div class="content">
                        Only the best tools are added.
                    </div>
                </article>

                <article class="tile is-child box">
                    <a href="workflows/"><p class="title">Workflows</p></a>
                    <p class="subtitle">Workflow helps me work more productively.</p>
                    <div class="content">
                        Workflows are routines that I summarized and learned in my daily work. I add and revise the workflows every now and then.
                    </div>
                </article>
            </div>
        </div>
    </div>


    <div class="tile is-vertical is-6">
        <div class="tile">
            <div class="tile is-parent is-vertical">
                <article class="tile is-child box">
                    <a href="cheatsheets/"><p class="title">Cheatsheets</p></a>
                    <p class="subtitle">Cheatsheets are systematic summaries of some topics.</p>
                    <div class="content">
                        Cheatsheets are the reference pages for my work.
                    </div>
                </article>

                <article class="tile is-child box">
                    <a href="curriculum/"><p class="title">Curriculumn</p></a>
                    <p class="subtitle">Curriculumn is being used to review data science skills.</p>
                    <div class="content">
                        Validate my data science skill and theory coverage.
                    </div>
                </article>
            </div>
        </div>
    </div>

</div>
