<div class="tile is-ancestor">
    <div class="tile is-vertical is-8">
        <div class="tile is-parent">
            <article class="tile is-child notification is-danger">
                <a href="{{ "/til/" }}" style="text-decoration: none;">
                    <p class="title">Today I Learned <a href="{{ "/til/" }}" class="is-pulled-right">
                            <i class="fas fa-lightbulb"></i>
                        </a></p>
                </a>
                <p class="subtitle">Learn something each day</p>
                <div class="content">
                    <!-- Content -->
                </div>
            </article>
        </div>
        <div class="tile">
            <div class="tile is-parent is-vertical">
                <article class="tile is-child notification is-primary">
                    <a href="https://getdataweekly.com" style="text-decoration: none;">
                        <p class="title">Data Weekly (in Chinese) <a class="is-pulled-right"
                                href="https://getdataweekly.com"><i class="fas fa-link"></i></a></p>
                    </a>
                    <p class="subtitle">A weekly newsletter for Chinese-speaking audience</p>
                </article>
                <article class="tile is-child notification is-warning">
                    <a href="/awesome" style="text-decoration: none;">
                        <p class="title">Awesome Data Tools <a class="is-pulled-right" href="/awesome"><i
                                    class="fas fa-link"></i></a></p>
                    </a>
                    <p class="subtitle">Collections of tools for your data project</p>
                </article>
            </div>
            <div class="tile is-parent is-vertical">
                <article class="tile is-child notification is-info">
                    <a href="https://dataherb.github.io" style="text-decoration: none;">
                        <p class="title">DataHerb <a class="is-pulled-right" href="https://dataherb.github.io">
                                <i class="fas fa-seedling"></i></a></p>
                    </a>
                    <p class="subtitle">An open-source meterdata-driven data platform</p>
                </article>
                <article class="tile is-child notification is-link">
                    <a href="/cards" style="text-decoration: none;">
                        <p class="title">Knowledge snippet <a class="is-pulled-right" href="/cards">
                                <i class="fas fa-bookmark"></i></a></p>
                    </a>
                    <p class="subtitle">Knowledge breaking down</p>
                </article>
            </div>
        </div>
    </div>
    <div class="tile is-parent">
        <div class="tile is-vertical">
            <article class="tile is-child notification is-success">
                <div class="content">
                    <a href="{{ "/wiki/" }}" style="text-decoration: none;">
                        <p class="title">Wiki <a href="{{ "/wiki/" }}" class="is-pulled-right">
                                <i class="fas fa-certificate"></i></a></p>
                    </a>
                    <p class="subtitle">Accumulate knowledge systematically</p>
                    <div class="content">
                        <!-- Content -->
                    </div>
                </div>
            </article>
            <article class="tile is-child notification is-primary">
                <div class="content">
                    <a href="{{ "/reading/" }}" style="text-decoration: none;">
                        <p class="title">Reading <a href="{{ "/reading/" }}" class="is-pulled-right">
                                <i class="fas fa-glasses"></i></a></p>
                    </a>
                    <p class="subtitle">Read and learn</p>
                    <div class="content">
                        <!-- Content -->
                    </div>
                </div>
            </article>
        </div>

    </div>
</div>