---
layout: default
---


<article id="post" class="post">


<header class="post-header">
  <h1 class="has-text-centered is-size-1" itemprop="name headline"><a href="/cards">Cards</a></h1>
  <h2 class="post-title has-text-centered is-size-2" itemprop="name headline">{{ page.title }}</h2>
  <p class="post-meta has-text-centered">
    <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {{ page.date | date: date_format }}
    </time>
    {%- if page.author -%}
      • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
    {%- endif -%}
    {% if page.category %}
     • <span style="font-style: regular;">{</span>{% for cate in page.category %}
     <span style="padding-right: 0.2em;padding-left: 0.2em;">
       {% comment %}
       <a href="{{ site.url }}{{ site.baseurl }}/cards/all/#{{ cate | slugify }}">⸢{{ cate }}⸥</a>
       {% endcomment %}
       <a href="{{ site.url }}{{ site.baseurl }}/cards/all/?keywords={{ cate | slugify }}">⸢{{ cate }}⸥</a>
     </span>
     {% endfor %}
     }
    {% endif %}
    {% if page.tags %}
     • <span style="font-style: regular;">[</span>{% for tag in page.tags %}
     <span style="padding-right: 0.2em;padding-left: 0.2em;"><a href="{{ site.url }}{{ site.baseurl }}/cards/#{{ tag | slugify }}">#{{ tag }}</a></span>
     {% endfor %}
     ]
    {% endif %}
  </p>
</header>

<div class="columns">
  <div class="column is-8">
    {% if page.summary %}
    <div class="is-divider" data-content="SUMMARY"></div>
    <div class="notification is-light">
      <p>
        {{ page.summary }}
      </p>
    </div>
    {% endif %}
    <div class="is-divider" data-content="ARTICLE"></div>
    <div class="post-content e-content" itemprop="articleBody">
      {{ content }}
    </div>
    {% include pagination.html %}
  </div>

  <div id="sidebar" class="column is-4" style="position: -webkit-sticky;position: sticky;top:0;">

    {% if page.authors %}
    <div class="is-divider" data-content="AUTHORS"></div>
    {% for author in page.authors %}
    {% assign author_db = site.data.authors[author.id] %}
    <div class="box is-size-7">
      <article class="media">
        <div class="media-content">
          <div class="content">
            <p>
              <strong>{{ author_db.name }}</strong>
              {% if author_db.github %}
              <a href="https://github.com/{{author_db.github}}"><i class="fab fa-github-square"></i></a>
              {% endif %}
              <br>
              {{author_db.description}}
            </p>
          </div>
        </div>
      </article>
    </div>
    {% endfor %}
    {% endif %}
    {% if page.references %}
    <div id="references" class="is-divider" data-content="REFERENCES"></div>
    <article class="message is-primary">
      <div class="message-header">
        <p>References:</p>
      </div>
      <div class="message-body">
        <ol>
          {% for ref in page.references %}
          <li><a href="{{ ref.link }}" style="text-decoration:none;">{{ ref.name }}</a></li>
          {% endfor %}
        </ol>
      </div>
    </article>
    {% endif %}
    {% if page.related %}
    <div id="related" class="is-divider" data-content="RELATED"></div>
    <article class="message is-info">
      <div class="message-header">
        <p>Related Articles:</p>
      </div>
      <div class="message-body">
        <ol>
          {% for ref in page.related %}
          <li><a href="{{ ref.link }}" style="text-decoration:none;">{{ ref.name }}</a></li>
          {% endfor %}
        </ol>
      </div>
    </article>
    {% endif %}
    {% if page.supplementary %}
    <div id="supplementary" class="is-divider" data-content="SUPPLEMENTARY"></div>
    <article class="message is-link">
      <div class="message-header">
        <p>Supplementary:</p>
      </div>
      <div class="message-body">
        <ol>
          {% for ref in page.supplementary %}
          <li><a href="{{ ref.link }}" style="text-decoration:none;">{{ ref.name }}</a></li>
          {% endfor %}
        </ol>
      </div>
    </article>
    {% endif %}
    <div id="comments" class="is-divider" data-content="COMMENTS"></div>
    {% include utterances-comments.html %}
  </div>
</div>

<a class="u-url" href="{{ page.url | relative_url }}" hidden></a>





</article>

{% include extras/navtools.html %}
