<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{% if page.charts %}
  {%- include head.html plotly=true -%}
{% else %}
  {%- include head.html -%}
{% endif %}
  

  <body>

    {%- include header.html -%}

    <main class="main--content" aria-label="Content">
    <div class="columns">
      <div class="column is-12">
        <div class="content is-medium">
          {{ content }}
        </div>
      </div>
    </div>
    </main>

    {%- include footer.html -%}
    {%- include footer-assets.html -%}

  {% if page.charts %}
    {% for chart in page.charts %}
      {% include extras/plotly.html data=chart.data target=chart.target layout=chart.layout %}
    {% endfor %}
  {% endif %}


  </body>

</html>
