<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}
    {% include hero.html %}

    <main class="main--content" aria-label="Content">
    <div class="columns">
      <div class="column is-12">
        <div class="content is-medium">

          {% include home/search.html %}

          <div class="section">
            <!-- {%- if page.title -%}
              <h1 class="page-heading">{{ page.title }}</h1>
            {%- endif -%} -->

            {% include home/tiles.html %}

            {{ content }}





        </div>
      </div>
    </div>
    </main>







{%- include footer.html -%}
</body>

</html>
