---
layout: default
---

<article class="post">

  <header class="post-header">
    <h1 class="post-title has-text-centered is-size-1" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta has-text-centered">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}
      {% if page.category %}
       • <span style="font-style: regular;">{</span>{% for cate in page.category %}
       <span style="padding-right: 0.2em;padding-left: 0.2em;"><a href="{{ site.url }}{{ site.baseurl }}/wiki/#{{ cate | slugify }}">⸢{{ cate }}⸥</a></span>
       {% endfor %}
       }
      {% endif %}
      {% if page.tags %}
       • <span style="font-style: regular;">[</span>{% for tag in page.tags %}
       <span style="padding-right: 0.2em;padding-left: 0.2em;"><a href="{{ site.url }}{{ site.baseurl }}/wiki/?keywords={{ tag }}">#{{ tag }}</a></span>
       {% endfor %}
       ]
      {% endif %}
      {% if page.source %}
      <article class="message">
        <div class="message-header">
          <p>Source:</p>
        </div>
        <div class="message-body">
          <ul>
          {% for sour in page.source %}
            <li><a href="{{ sour.link }}" style="text-decoration:none;">{{ sour.name }}</a></li>
          {% endfor %}
          </ul>
        </div>
      </article>
      {% endif %}
      {% if page.notify %}
      <div class="notification is-primary">
         {{ page.notify }}
       </div>
      {% endif %}
    </p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>

{% include pagination.html %}

</article>
