<div class="tile is-ancestor">
<div class="tile is-12 is-vertical is-parent">
  {%- if site.posts.size > 0 -%}
  <!-- <h2 class="title">{{ page.list_title | default: "Posts" }}</h2> -->
  {%- for post in site.posts -%}
  {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
  <div class="tile is-child box">
    <span class="post-meta">{{ post.date | date: date_format }}</span>
    <a class="post-link" href="{{ post.url | relative_url }}">
      <h3>{{ post.title | escape }}</h3>
    </a>
    {%- if site.show_excerpts -%}
      {{ post.excerpt }}
    {%- endif -%}
  </div>
  {%- endfor -%}
  {%- endif -%}
</div>
</div>
</div>
