<div class="tile is-ancestor">
  <div class="tile is-vertical is-8">
    <div class="tile is-parent">
      <article class="tile is-child notification is-danger">
        <p class="title">Today I Learned <a href="{{ "/til/" | relative_url }}" class="is-pulled-right"><i class="fas fa-link"></i></a></p>
        <p class="subtitle">Learn something each day</p>
        <div class="content">
          <!-- Content -->
        </div>
      </article>
    </div>
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification is-primary">
          <p class="title">Data Weekly (in Chinese) <a class="is-pulled-right" href="https://getdataweekly.com"><i class="fas fa-link"></i></a></p>
          <p class="subtitle">A weekly newsletter for Chinese-speaking audience</p>
        </article>
        <article class="tile is-child notification is-warning">
          <p class="title">Awesome Data Tools <a class="is-pulled-right" href="/awesome"><i class="fas fa-link"></i></a></p>
          <p class="subtitle">Collections of tools for your data project</p>
        </article>
      </div>
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification is-info">
          <p class="title">Data Playground <a class="is-pulled-right" href="https://github.com/emptymalei/data-playground"><i class="fab fa-github"></i></a></p>
          <p class="subtitle">My playground to make data speak</p>
        </article>
        <article class="tile is-child notification is-link">
          <p class="title">Knowledge snippet<a class="is-pulled-right" href="/cards"><i class="fas fa-link"></i></a></p>
          <p class="subtitle">Knowledge breaking down</p>
        </article>
      </div>
    </div>
  </div>
  <div class="tile is-parent">
      <div class="tile is-vertical">
        <article class="tile is-child notification is-success">
          <div class="content">
            <p class="title">Wiki <a href="{{ "/wiki/" | relative_url }}" class="is-pulled-right"><i class="fas fa-link"></i></a></p>
            <p class="subtitle">Accumulate knowledge systematically</p>
            <div class="content">
              <!-- Content -->
            </div>
          </div>
        </article>
        <article class="tile is-child notification is-primary">
          <div class="content">
            <p class="title">Reading <a href="{{ "/reading/" | relative_url }}" class="is-pulled-right"><i class="fas fa-link"></i></a></p>
            <p class="subtitle">Read and learn</p>
            <div class="content">
              <!-- Content -->
            </div>
          </div>
        </article>
      </div>

  </div>
</div>
