<div class="navtools">
  <a class="button is-primary is-light is-small is-outlined" href="#post" aria-haspopup="true" style="position:fixed;bottom: 10px;right: 0;border-radius: 9999px;width:35px;height:35px;">
    <i class="fas fa-angle-double-up"></i>
  </a>
  <a class="button is-primary is-light is-small is-outlined" href="#comments" aria-haspopup="true" style="position:fixed;bottom: 60px;right: 0;border-radius: 9999px;width:35px;height:35px;">
    <i class="far fa-comment-alt"></i>
  </a>
</div>
